root {
    --brand:#B3735C;
    --black: black;
    --base-light:#c38f7c;
    --purple-light: #A293AD;
    --purple-dark:#7566A0;
    --white: white; 
}

 /* CSS Reset */

html {
box-sizing: border-box;
font-size: 16px;
font-family: "Inter", sans-serif;
color: var(--black);
scroll-behavior: smooth;
}

 *,
 *:before,
 *:after {
box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Josefin Sans", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
margin: 0;
padding: 0;
}

ol,
ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

input,
button,
textarea,
select {
font: inherit;
}
/* makes bg image cover the whole page yay */
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("homepagebackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    font-family: 'Josefin Sans', sans-serif;
}

    /* change placement of bee so its not the same as the first page!! */
    .bee {
        margin-top:100px;
        width: 15%;
        position: absolute;
        transform-origin: 0% 0%; 
        animation: bee-animation 60s ease infinite; /* 60 seconds so it goes at a normal speed */
    }
    @keyframes bee-animation {
        /* Random points in an attempt to make the flying look natural */
        0%{ left:50px;transform: rotate(30deg);}
        10%{ left:25px;transform: rotate(15deg);}
        12%{ right:105px;transform: rotate(45deg);}
        15%{ left:38px;transform: rotate(23deg);}
        56%{ left:25px;transform: rotate(15deg);}
        10%{ left:500px;transform: rotate(180deg);}
        75%{ left:25px;transform: rotate(15deg);}
        64%{ right:800px;transform: rotate(90deg);}
        30%{ right:100px;transform: rotate(15deg);}
        99%{ left:600px;transform: rotate(67deg);}
        78%{ right:400px;transform: rotate(55deg);}
        85%{ right:25px;transform: rotate(15deg);}
        50% {left:300px;transform: rotate(-360deg);}
        100% {left:50px;transform: rotate(30deg);}
        }

        .orangetree {
            animation: treesway 8s infinite, jump 3s infinite;
            transform-origin: 50% 100% 0;
            position: absolute;
            bottom: 25%;
            left: 1.3%;
            width: 30%;
        }
        @keyframes treesway {
            0%, 100%{ transform: rotate(-1deg);}
            50%{ transform: rotate(1deg); }
        }
        @keyframes jump {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-5px); 
            }
            60% {
                transform: translateY(-5px); 
            }
        }
    .flower1 {
        animation: flower1sway 15s infinite;
        transform-origin: 50% 100% 0;
        position: absolute;
        bottom: 0px;
        left: 5%;
        width: 9%;
    }
    @keyframes flower1sway {
        0%, 100%{ transform: rotate(-6deg);}
        50%{ transform: rotate(6deg); }
    }

    .flower2 {
        animation: flower2sway 10s infinite;
        transform-origin: 50% 100% 0;
        position: absolute;
        bottom: -10px;
        left: 25%;
        width: 9%; 
    }
    
    @keyframes flower2sway {
        60%, 0% { transform: rotate(10deg); }
        50% { transform: rotate(-10deg); }
    }
    
    .flower3 {
        animation: flower3sway 18s infinite;
        transform-origin: 100% 50% 0;
        position: absolute;
        bottom: -25px;
        left: 33%;
        width: 3%; 
    }
    @keyframes flower3sway {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }
    
    .flower4 {
        animation: flower4sway 15s infinite;
        transform-origin: 50% 100% 0;
        position: absolute;
        bottom: -10px;
        left: 80%;
        width: 5%; 
    }
    
    @keyframes flower4sway {
        60%, 0% { transform: rotate(10deg); }
        50% { transform: rotate(-10deg); }
    }

    .flower5 {
        animation: flower5sway 30s infinite;
        transform-origin: 100% 50% 0;
        position: absolute;
        bottom: -25px;
        left: 85%;
        width: 4%; 
    }
    @keyframes flower5sway {
        0% {
            transform: translateY(-20px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px)
        }
    }

    .flower6 {
        animation: flower6sway 60s infinite;
        transform-origin: 50% 100% 0;
        position: absolute;
        bottom: -10px;
        left: 95%;
        width: 3%; 
    }
    
    @keyframes flower6sway {
        60%, 0% { transform: rotate(30deg); }
        50% { transform: rotate(-30deg); }
    }
    .flower7 {
        animation: flower7sway 20s infinite;
        transform-origin: 50% 100% 0;
        position: absolute;
        bottom: -10px;
        left: 15%;
        width: 5%;
    }
    @keyframes flower7sway { s
        0%, 100%{ transform: rotate(-6deg);}
        50%{ transform: rotate(6deg); }
    }
    .flower8 {
        animation: flower8sway 15s infinite;
        transform-origin: 50% 100% 0;
        position: absolute;
        bottom: 0px;
        left: 70%;
        width: 8.5%;
    }
    @keyframes flower8sway {
        0%, 100%{ transform: rotate(-6deg);}
        50%{ transform: rotate(6deg); }
    }
    .flower9 {
        animation: flower9sway 30s infinite;
        transform-origin: 100% 50% 0;
        position: absolute;
        bottom: -25px;
        left: 68%;
        width: 4%; 
    }
    @keyframes flower9sway {
        0%, 100%{ transform: rotate(-20deg);}
        50%{ transform: rotate(20deg); }
    }
    .flower10 {
        animation: flower10sway 30s infinite;
        transform-origin: 100% 50% 0;
        position: absolute;
        bottom: -10px;
        left: 3%;
        width: 2%; 
    }
    @keyframes flower10sway {
        0%, 100%{ transform: rotate(-20deg);}
        50%{ transform: rotate(20deg); }
    }
    .dot1 {
        background: #B3735C;          
        border-radius: 50%;       
        margin: 10px;
        left: 80%;               
        top: 10%;                 
        height: 9px;             
        width: 9px;              
        animation: pulse 3s infinite;
        transform-origin: center; 
        position: absolute;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        
        50% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.5);
        }
    }
    .dot2 {
        background: black;          
        border-radius: 50%;       
        margin: 10px;
        left: 10%;               
        top: 60%;                 
        height: 15px;             
        width: 15px;              
        animation: pulse 3s infinite;
        transform-origin: center; 
        position: absolute;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        
        50% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.5);
        }
    }
    .dot3 {
        background: #B3735C;          
        border-radius: 50%;       
        margin: 10px;
        left: 22%;               
        top: 20%;                 
        height: 20px;             
        width: 20px;              
        animation: pulse 5s infinite;
        transform-origin: center; 
        position: absolute;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        
        50% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.5);
        }
    }
    .dot4 {
        background: black;          
        border-radius: 50%;       
        margin: 10px;
        left: 89%;               
        top: 70%;                 
        height: 8px;             
        width: 8px;              
        animation: pulse 2s infinite;
        transform-origin: center; 
        position: absolute;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        
        50% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.5);
        }
    }
    .dot5 {
        background: #c38f7c;          
        border-radius: 50%;       
        margin: 10px;
        left: 95%;               
        top: 35%;                 
        height: 10px;             
        width: 10px;              
        animation: pulse 2s infinite;
        transform-origin: center; 
        position: absolute;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        
        50% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.5);
        }
    }
    .dot6 {
        background: #c38f7c;          
        border-radius: 50%;       
        margin: 10px;
        left: 75%;               
        top: 40%;                 
        height: 13px;             
        width: 13px;              
        animation: pulse 3s infinite;
        transform-origin: center; 
        position: absolute;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        
        50% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.5);
        }
    }
    .dot7 {
        background: #c38f7c;          
        border-radius: 50%;       
        margin: 10px;
        left: 10%;               
        top: 14%;                 
        height: 20px;             
        width: 20px;              
        animation: pulse 2s infinite;
        transform-origin: center; 
        position: absolute;
    }
    
    @keyframes pulse {
        0% {
            transform: scale(0.5);
        }
        
        50% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(0.5);
        }
    }

